<mat-toolbar>
  <span>Gif Storage</span>
  <mat-form-field>
    <input matInput placeholder="Input gif name...">
  </mat-form-field>

  <button
    (click)="openFinder()"
   mat-raised-button color="primary">
    <mat-icon
     aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    Search
  </button>
  <input type="file" class="file-input"
       (change)="selectLocalFile($event)" #fileUpload>
  <button
    (click)="fileUpload.click()"
   mat-raised-button color="primary">
    <mat-icon
     aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    Add
  </button>
</mat-toolbar>

<app-gif-grid
[gifs]="service.gifs"
>
</app-gif-grid>
