<mat-toolbar>
  <span>Gif Storage</span>
  <mat-form-field>
    <input matInput [(ngModel)]="searchText"  placeholder="Input gif name...">
  </mat-form-field>

  <button
    (click)="openFinder()"
   mat-raised-button color="primary">
    <mat-icon
     aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    Search
  </button>
  <button
    (click)="openGifDialog()"
   mat-raised-button color="primary">
    <mat-icon
     aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    Add
  </button>

  <mat-form-field appearance="fill">
    <mat-label>Ordering</mat-label>
    <mat-select (selectionChange)="orderingChanged($event)" [(value)]="ordering">
      <mat-option value="custom">Custom</mat-option>
      <mat-option value="date_asc">By date ▲</mat-option>
      <mat-option value="date_desc">By date ▼</mat-option>
    </mat-select>
  </mat-form-field>

</mat-toolbar>
<app-gif-grid
[gifs]="service.gifs | filterByText: searchText"
[dragAndDropEnabled]="enableDragAndDrop"
(gifAddEmmiter)="editGif($event)"
(orderChanged)="orderChanged($event)"
>
</app-gif-grid>
