<h2 mat-dialog-title>Add a new gif</h2>
<mat-dialog-content class="mat-typography dialog-content">
  <div class="search-bar">
    <mat-form-field appearance="fill">
      <mat-label>Search gifs by kewords</mat-label>
      <input matInput [(ngModel)]="query" (ngModelChange)="searchInputChanged()" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div>Results by {{query?query:'Trending'}}</div>
  <div class="gif-container">
    <app-gif-grid
    [gifs]="fetchedGifs"
    (gifAddEmmiter)="addGif($event)"
    >
    </app-gif-grid>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

