.dialog-content {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
}

.search-bar{
  width: 100%;
  position:sticky;
  top:0px;
  z-index: 1;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &> mat-form-field {
    width: 100%;
  }
}

.info{
  color: #9b9b9b;
  font-size: small;
}

.gif-container {
  flex:1;
  overflow-y: auto;
  margin:10px;
}
