  <div class="grid-container" cdkDropListGroup>
    <div
      *ngFor="let gif of gifs; let i = index"
      cdkDropList
      [cdkDropListData]="i"
    >
      <div
        cdkDrag
        [cdkDragDisabled]="!dragAndDropEnabled"
        [style.cursor]="!dragAndDropEnabled?'pointer':''"
        [cdkDragData]="i"
        (cdkDragEntered)="dragEntered($event)"
        class="grid-box"
        (click)="containerClick(gif)"
      >
      <app-gif-card [gif]="gif"></app-gif-card>
      </div>
    </div>
    <div *ngIf="!gifs.length" class="empty-container">
      <h2>
        Nothing here...
      </h2>
    </div>
  </div>
